name: Build Debian Package

on:
  push:
    branches: [ "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential debhelper devscripts libgtkmm-3.0-dev pkg-config

    - name: Build Package
      run: |
        dpkg-buildpackage -us -uc -b
        mv ../stick_*.deb .

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: stick-debian-package
        path: stick_*.deb

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: stick_*.deb
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}